body {
    background: #F8F8FF;
    }

aside {
    float: right;
    background: #181818;
    width: 12%;
    padding: 2.5%;
    height: 15%;
    color: #fff;
    border-right: 5px solid #4d4d4d
    }

aside img {
    float: right;
    }