{% extends 'base.html' %}
{% block title%}Добавить новую статью{% endblock %}
{% block content%}


{% if user.is_authenticated %}
    <h1>Добавить статью</h1>
    <br/><br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-warning">Добавить</button>
        </div>

    <script>
        var name = "{{ user.id }}";

        document.getElementById("user_author").value = name;
    </script>
{% else %}

Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
🤬 🤬 🤬
{% endif %}

{% endblock%}
