{% extends 'base.html' %}
{% block title%}Добавить новую категорию{% endblock %}
{% block content%}


{% if user.is_authenticated %}
  <h1>Добавить категорию</h1>
  <br/><br/>
      <div class="form-group">
          <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button class="btn btn-warning">Добавить</button>
      </div>
{% else %}

Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
🤬 🤬 🤬
{% endif %}

{% endblock%}
