{% extends 'base.html' %}
{% block title%}{{post.title}}{% endblock %}

{% block content%}

<h1>{{post.title}}</h1>
<small>
    By: {{ post.author.first_name}} {{ post.author.last_name}} -
    {% if user.is_authenticated %}
        {% if user.id == post.author.id%}
            <a href="{% url 'update_post' post.pk %}">Изменить</a>
            <a href="{% url 'delete_post' post.pk %}">Удалить</a>
            </small><br/>
        {% endif %}
    {% endif %}
<small>{{ post.post_date }} </small>
<hr>
<br/>
{{ post.body|safe }}

<br/><br/>
<a href = "{% url 'home' %}" class="btn btn-warning">Назад</a>

<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
    {% else %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>

    {% endif %}
{% else %}
    <small><a href="{% url 'login' %}">Login</a> to like<small/>
{% endif %}

    - {{ total_likes }} Likes
</form>

{% endblock%}










