{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>
      {% block title%}

      {% endblock %}
    </title>

  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home'%}">My BLOG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Главная</a>
        </li>

        {% if cat_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Все категории
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% for item in cat_menu %}
              <li><a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>
            {% endfor %}

          </ul>
        </li>
        {% else %}


          <li class="nav-item">
            <a class="nav-link" href="{% url 'category-list' %}">Категории</a>
          </li>

        {% endif %}

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_post' %}">Добавить статью</a>
          </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'add_category' %}">Добавить категорию</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Авторизироваться</a>
          </li>

        {% endif %}

      </ul>

    </div>
  </div>
</nav>

  <body>
    {% if messages %}

    {% for message in messages %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      {% else %}
        <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endif %}


    {% endfor %}

    {% endif %}

    <aside>
      <a class="nav-link active" aria-current="page" href="{% url 'home'%}"><img srс="{% static 'img/twerk.gif' %}" title="Жмакни мышкой!" ></a>
      <span class="logo"></span>
  </aside>
  <br/>
  <div class="container">
    {% block content%}



    {% endblock%}
  </div>




    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->


  </body>
</html>

