{% extends 'base.html' %}
{% block title%}My Blog's Категории{% endblock %}

{% block content%}

    <h1>My Blog's Категории</h1>

    {% for item in cat_menu_list %}
        <a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>
    {% endfor %}

{% endblock%}