{% extends 'base.html' %}

{% block content%}

{% if category_posts %}
    <h1>Категория: {{ cats }}</h1>

    <ul>
    {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }} - <a/><br/>
                <small>{{ post.author.first_name }} {{ post.author.last_name }} </small><br/>

                {{ post.body|slice:"50"|safe }}<br/>
                <small>{{ post.post_date}} </small>
                {% if user.is_authenticated %}
                <small><a href="{% url 'update_post' post.pk %}">Изменить</a></small> -
                <small><a href="{% url 'delete_post' post.pk %}">Удалить</a></small><br/>
                {% endif %}
        </li>
    {% endfor %}</ul>
{% else %}
    <center><h1><br/><br/><br/>❌ Здесь ничего нет ❌ <br/><br/> 🚷 🚯 🚳 🚱 🔞 📵 🚭️ </h1>
{% endif  %}</li></center>



</ul>
{% endblock%}
