{% extends 'base.html' %}
{% block title%}Удалить статью{% endblock %}
{% block content%}


{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
        <h1>Удалить статью</h1>
        <br/><br/>
        <h3>Удалить: {{ post.title }}?</h3>

        <br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                     {{ form.as_p }}
                    {{ post.body }}
                    <br/><br/>
                    <strong>Вы уверены, что хотите удалить статью? </strong><br/>
                    <br/>
                    <button class="btn btn-warning">Удалить</button>
            </div>

    {% else %}
        Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
        🤬 🤬 🤬
    {% endif %}
{% else %}

Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
🤬 🤬 🤬
{% endif %}
{% endblock%}