{% extends 'base.html' %}

{% block content%}

<h1>Статьи</h1>

<ul>
{% for post in object_list %}
    <li>
        <a href="{% url 'article-detail' post.pk %}">{{ post.title }}<a/> -

            <small><a href="{% url 'category' post.category %}">{{post.category}}</a></small> -
            <small><a href="{% url 'author' post.author.pk %}">{{ post.author.first_name }} {{ post.author.last_name }}</a></small><br/>

                {{ post.body|slice:"50"|safe }}... <br/>
            <small>{{ post.post_date}} </small>
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id%}
                        <small><a href="{% url 'update_post' post.pk %}">Изменить</a></small> -
                        <small><a href="{% url 'delete_post' post.pk %}">Удалить</a></small><br/>
                    {% endif  %}
                {% endif  %}

    </li>
{% endfor %}
</ul>

{% endblock%}
