{% extends 'base.html' %}
{% block title%}Изменить статью{% endblock %}
{% block content%}

{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
        <h1>Изменить статью</h1>
        <br/><br/>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-warning">Добавить</button>
            </div>

    {% else %}
        Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
        🤬 🤬 🤬
    {% endif %}
{% else %}

Эта страница вам не доступна, пожалуйста, покиньте ее!<br/>
🤬 🤬 🤬
{% endif %}
{% endblock%}