{% extends 'base.html' %}
{% block title%}Войти в учетную запись{% endblock %}
{% block content%}



<h1>Авторизация</h1>
<br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning">Войти</button>
    </div>


{% endblock%}