{% extends 'base.html' %}
{% block title%}Регистрация{% endblock %}
{% block content%}



<h1>Регистрация на сайте</h1>
<br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-warning">Зарегистрироваться</button>
    </div>


{% endblock%}